 <div class="container">
        <ul id="toDoItems" class="list-group align-self-sm-stretch mt-4">
           <li class="list-group-item">Mjölk<button class="btn btn-danger">X</button></li>
          <li class="list-group-item">Bananer<button class="btn btn-danger">X</button></li>
        </ul>
 </div>

@code {

}
