@inherits LayoutComponentBase

<div class="page">
    
    <header>
        <NavBar Title="TODO"></NavBar>
    </header>

    <main>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>
